{% extends "template.html" %}
{% block content %}
<section id="articles"> <!-- A new section with the articles -->

    <!-- Article 1 start -->

    <div class="line"></div>  <!-- Dividing line -->
    
    <article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
        <h2>O que é isso?</h2>
        
        <div class="line"></div>
        
        <div class="articleBody clear">
        
            <figure> <!-- The figure tag marks data (usually an image) that is part of the article -->
                <a href="http://tutorialzine.com/2010/02/photo-shoot-css-jquery/"><img src="http://tutorialzine.com/img/featured/641.jpg" width="620" height="340" /></a>
            </figure>
            
            <p>Foi chamado para aquela vaga bacana e não sabe como a
            empresa realmente é? É, nós entendemos como você se
            sente.</p>
            <p>Por isso criamos o BlacklisTI - uma comunidade de
            profissionais de TI que relatam (anonimamente ou
            publicamente) como foi (ou como está sendo) sua
            experiência de trabalho em uma determinada empresa. Note
            que somos também uma <strong>white list</strong>,
            portanto, comentários positivos também são muito bem
            vindos. </p>
            <p>Não importa se você é desenvolvedor, analista, DBA ou
            sysadmin: o que importa é que outras pessoas não caiam
            na mesma cilada que você e que consigam melhores
            empregos ;)</p>
        </div>
    </article>
    
    <!-- Article 1 end -->


    <!-- Article 2 start -->

    <div class="line"></div>
    
    <article id="article2">
        <h2>Como funciona?</h2>
        
        <div class="line"></div>
        
        <div class="articleBody clear">
            <figure>
                <a href="http://tutorialzine.com/2010/01/sweet-tabs-jquery-ajax-css/"><img src="http://tutorialzine.com/img/featured/633.jpg" width="620" height="340" /></a>
            </figure>
            
            <p>Here we are making sweet AJAX-powered tabs with CSS3 and the newly released version 1.4 of jQuery.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. Duis felis dui, vulputate nec adipiscing nec, interdum vel tortor. Sed gravida, erat nec rutrum tincidunt, metus mauris imperdiet nunc, et elementum tortor nunc at eros. Donec malesuada congue molestie. Suspendisse potenti. Vestibulum cursus congue sem et feugiat. Morbi quis elit odio. </p>
        </div>
    </article>
    
    <!-- Article 2 end -->

    <!-- Article 3 start -->

    <div class="line"></div>
    
    <article id="article3">
        <h2>Halftone Navigation Menu</h2>
        
        <div class="line"></div>
        
        <div class="articleBody clear">
            <figure>
                <a href="http://tutorialzine.com/2010/01/halftone-navigation-menu-jquery-css/"><img src="http://tutorialzine.com/img/featured/610.jpg" width="620" height="340" /></a>
            </figure>
            
            <p>Today we are making a CSS3 & jQuery halftone-style navigation menu, which will allow you to display animated halftone-style shapes in accordance with the navigation links, and will provide a simple editor for creating additional shapes as well.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. Duis felis dui, vulputate nec adipiscing nec, interdum vel tortor. Sed gravida, erat nec rutrum tincidunt, metus mauris imperdiet nunc, et elementum tortor nunc at eros. Donec malesuada congue molestie. Suspendisse potenti. Vestibulum cursus congue sem et feugiat. Morbi quis elit odio. </p>
        </div>
    </article>
    
    <!-- Article 3 end -->


</section>
{% endblock content %}
